body {
  background-image: url('https://user-images.githubusercontent.com/131218267/241595514-bf5177ac-3a68-4783-a0c0-64d62361664b.png');
  background-repeat: no-repeat;
}

.homebuttons {
  margin-top: 50%;
  margin-left: 45%;
  margin-right: 35%;
  margin-bottom: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
