body {
  background-image: url('https://user-images.githubusercontent.com/131218267/241595514-bf5177ac-3a68-4783-a0c0-64d62361664b.png');
}

.homebuttons {
  margin-top: 0;
  margin-left: 50%;
  margin-bottom: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
