body {
  background-image: url('https://user-images.githubusercontent.com/131218267/241595514-bf5177ac-3a68-4783-a0c0-64d62361664b.png');
}

.homebuttons {
  margin-top: 50%;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  color: #79CD7F;
  justify-content: center;
  font-size: 32px;
  text-color: #000000;
}
